.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .cardWrapper {
    display: flex;
    gap: 1rem;
    width: 95%;
    padding: 0.5rem;
    justify-content: center;
  }

  .masonry-column {
    gap: 0.8rem;
    flex: 1;
  }

  .loadMore {
    margin: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    background-color: var(--color-primary);
    color: var(--color-surface);
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
  }
}
